<div class="example-button-row" *ngIf="exibirHomeComponent">
  <button mat-button color="primary" (click)="clicarEExibirComponenteFilho1()">Prato Favorito</button>
  <button mat-button color="primary" (click)="clicarEExibirComponenteFilho2()" >Tabela com Filtragem</button>
  <button mat-button color="primary" (click)="clicarEExibirComponenteFilho3()">Estação Favorita</button>
</div>

<proj-final-filho1
  [exibirFilho1] = "exibirFilho1"
  (exibirHome) = "voltar($event)"
>
</proj-final-filho1>

<proj-final-filho2
  [exibirFilho2] = "exibirFilho2"
  (exibirHome) = "voltar($event)"
>
</proj-final-filho2>

<proj-final-filho3
  [exibirFilho3]="exibirFilho3"
  (exibirHome)="voltar($event)"
>
</proj-final-filho3>
